<!--
    Browse page of the website. Shows all projects awaiting transcription
-->
{{active="browse"}}
<!-- Set the breadcrumbs -->
{{breadcrumbs=[[URL('default','index'),'Home'],['','Browse']]}}
<!-- Show in the project template -->
{{extend 'tx-layout.html'}}
<!-- Set the ref for breadcrumbs on view pages linked to -->
{{ref='browse'}}

    <!--
        Seciton to contain projects most in need of transcription (because they are old)
    -->
    <div class="section">
    	<h1>Projects Awaiting Transcriptions:</h1>
    	<!-- General transcription project list, using the subview display-txs -->
		{{include "subviews/display-txs.html"}}
	</div>
