{{extend 'tx-layout.html'}}

<div class="container">
	<h1>Dashboard</h1>
	<h2>Your Projects:</h2>
	<table class="table table-striped">
		<tr>
			<th>Image</th>
			<th>Title</th>
			<th>Transcription Status</th>
			<th>Options</th>
		</tr>
		{{for project in projects:}}
			{{if project.Project.id == justAddedProject_id:}}
				<tr class="just-added-project">
			{{else:}}
				<tr>
			{{pass}}
				<td><img src="{{=URL('default','download',args=project.ProjectTranscriptionCount.image)}}" class="table-image-view" /></td>
				<td>{{=project.Project.title}}</td>
				<td>{{=project.ProjectTranscriptionCount.transcriptionCount}}</td>
				<td>{{if project.Project.canOpen(): }}<a class="btn btn-primary" href="{{=URL('project', 'open', args=[project.Project.id])}}">Open</a>{{pass}}
					{{if project.Project.canClose():}}<a class="btn btn-primary" href="{{=URL('project', 'close', args=[project.Project.id])}}">Close</a>{{pass}}
					<a class="btn btn-primary" href="{{=URL('transcription', 'summary', args=[project.Project.id])}}">View Transcriptions <span>for {{=project.Project.title}}</span></a></td>
			</tr>
		{{pass}}
	</table>
</div>
