{{extend 'tx-layout.html'}}

<div class="container">
	<h1>Dashboard</h1>
	<h2>Your Projects:</h2>
	<table class="table table-striped">
		<tr>
			<th></th> <!-- Image -->
			<th>Title</th>
			<th>Transcription Status</th>
			<th>Options</th>
		</tr>
		{{for project in user.projects():}}
		{{print justAddedProject_id}}
		{{print project.id}}
		{{if project.id == justAddedProject_id:}}
			{{print 'true branch executed'}}
			<tr class="just-added-project">
		{{else:}}
			<tr>
		{{pass}}
			<td>Some image</td>
			<td>{{=project.title}}</td>
			<td>Some status</td>
			<td>{{if project.canOpen(): }}<a class="btn btn-primary" href="{{=URL('project', 'open', args=[project.id])}}">Open</a>{{pass}}
                {{if project.canClose():}}<a class="btn btn-primary" href="{{=URL('project', 'close', args=[project.id])}}">Close</a>{{pass}}
                <a class="btn btn-primary" href="{{=URL('project', 'transcriptions', args=[project.id])}}">View Transcriptions</a></td>
		</tr>
		{{pass}}
	</table>
</div>