<!--
    Home page of the website. Shows a welcome message, and a list of 'featured' (oldest)
    projects awaiting transcription
-->

<!-- Show in the project template -->
{{extend 'tx-layout.html'}}
    {{if request.args(0)=="newUser":}}
            <div id="tx-alert" class="alert alert-success">Your profile was created successfully and you are now logged in as {{=auth.user.username}}.</div>
    {{pass}}

    <!-- Main jumbotron for site title (TX) and tagline of what we do. -->
    <div class="jumbotron">
      <div class="section">
        <h1>Welcome to TransXribe!</h1>
        <p>Crowd Sourced Transcription at its best.  Check out some projects up for
        transcription below, or add yours now!</p>
      </div>
    </div>

    <!--
        Seciton to contain projects most in need of transcription (because they are old)
    -->
    <div class="section">
    	<h2>Oldest Pending Projects Awaiting Transcriptions:</h2>
    	<!-- General transcription project list, using the subview display-txs -->
		{{include "subviews/display-txs.html"}}
	</div>
    {{if projects:}}
        <div id="view-more-projects"><a href="{{=URL('default', 'browse')}}">View More Projects</a></div>
    {{pass}}