{{extend 'tx-layout.html'}}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="section">
        <h1>Welcome to TX!</h1>
        <p>Crowd Sourced Transcription at it's best.  Check out some projects up for 
        transcription below, or add yours now!</p>
      </div>
    </div>


    
    <div class="section">
    	<h2>Oldest Pending Projects Awaiting Transcriptions:</h2>

		{{include "subviews/display-txs.html"}}
	</div>