<!-- Page shows the search results from a search on the site -->

<!-- Set the breadcrumbs -->
{{breadcrumbs=[[URL('default','index'),'Home'],['','Search']]}}
<!-- Show in the project template -->
{{extend 'tx-layout.html'}}
<!-- Set the ref for breadcrumbs on view pages linked to -->
{{ref='search'}}

<div class="section">
    <!-- Show the title with the search parameter -->
	<h1>Search: {{=request.vars.q}}</h1>

    <!--
        Display results, if there are any. Otherwise, inform the user that
        no projects have been found.
    -->
    {{if projects:}}
        <!--
            Show transcription projects that match the search query, using the subview
            display-txs
        -->
        {{include "subviews/display-txs.html"}}
    {{else:}}
        <h2>There are no projects which match your query.</h2>
    {{pass}}
</div>
