<!-- This page is used to create a new project, collecting basic information. -->

<!-- Show in the project template -->
{{active="new"}}
<!-- Set the breadcrumbs -->
{{breadcrumbs=[[URL('default','index'),'Home'],['','Create Project']]}}

{{extend 'tx-layout.html'}}
    
<section>
    <h1>Create Project</h1>

    	<!-- Two thirds of page width, unless mobile device, in which case full width-->
    <div class="row">
        <section class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
			<!-- Show create project form -->
			{{=form}}
            <em>When you submit, you will be taken to a page where you can add images to your project.</em>
		</section>
		<!--
			One third of page width, unles mobile device, in which case full width
			Div shows general documentation relevant to creating a new project
		-->
		<aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h2 class="style3">Step-by-step</h2>
            <div><span class="step active_step">1</span> Create Project</div>
            <div><span class="step">2</span> Add Fields and Records</div>
            <div><span class="step">3</span> Open To Public</div>

            <div class="instructions">
                <h2>Instructions</h2>
                <p>Provide basic project information on this page. On the next page, you can
                add images and specify exactly what fields of information you'd like
                transcribing.</p>
                <p><b>Title: </b>Provide the title of your project. This should be a short
                description of your project.</p>
                <p><b>Requested Transcription: </b>Explain to transcribers what information you'd
                like extracting from your uploaded material. This will be shown with all
                images when they are transcribed. You will be able to specify on the next page
                semantic units to be transcribed separately.</p>
                <p><b>Note</b> that once you set your project title and request description you will
                no longer be able to change them. Think carefully before you submit this page.</p>
            </div>
		</aside>
	</div>
</section>
