<!-- Page for actually transcribing an image -->

<!-- Set the breadcrumbs -->
{{breadcrumbs=[[URL('default','index'),'Home'],[URL('project','view',args=image.project_id),'View Project'],['','Transcribe Image']]}}
<!-- Show in the project template -->
{{extend 'tx-layout.html'}}

    <!-- Provide the image description -->
    <h2 id="transcribe-description">Transcribing: {{=image.imageDescription}}</h2>
    
    <p class="center">Please transcribe the content from the image to at least one of the appropriate fields.</p>

    <!-- Half screen width shows the actual image been transcribed -->
    <div class="col-lg-6">
        <div id="transcribe-image">
            <img src="{{=URL('default','download',args=image.image)}}" alt="{{=image.imageDescription}}" />
        </div>
    </div>

    <!-- The other half shows the fields that should be filled in -->
    <div class="col-lg-6">
    {{if error_message:}}
    <div class="error">
        <span class="glyphicon glyphicon-warning-sign"></span>{{=error_message}}
    </div>
    {{pass}}
        <!-- Div containing fields -->
        <div id="fields">
            <!-- Show the fields to be filled in -->
            {{=form}}
        </div>
    </div>
