<!-- Page for actually transcribing an image -->

<!-- Set the breadcrumbs -->
{{breadcrumbs=[[URL('default','index'),'Home'],[URL('project','view',args=image.project_id),'View Project'],['','Transcribe Image']]}}
<!-- Show in the project template -->
{{extend 'tx-layout.html'}}

<section>
    <!-- Provide the image description -->
    <h2 id="transcribe-description">Transcribing: {{=image.imageDescription}}</h2>
    <div class="instructions center" style="margin: 15px;">
        <h3>Instructions</h3>
        <p>You can offer your transcription on this page. To do that simply
        fill in the information requested by the project owner and click "Transcribe". If there is
        more than one field, you are not required to fill in all of them. </p>
    </div>

    <!-- Half screen width shows the actual image been transcribed -->
    <div class="col-lg-6">
        <div id="transcribe-image">
            <img src="{{=URL('default','download',args=image.image)}}" alt="{{=image.imageDescription}}" />
        </div>
    </div>

    <!-- The other half shows the fields that should be filled in -->
    <div class="col-lg-6">
    {{if error_message:}}

    <div class="error">
        <span class="glyphicon glyphicon-warning-sign"></span>{{=error_message}}
    </div>
    {{pass}}
        <!-- Div containing fields -->
        <div id="fields">
            <!-- Show the fields to be filled in -->
            {{=form}}
        </div>
    </div>
</section>