<!--
    This page is the View Project page.  It is used for viewing a whole project, and the
    images within it.
-->

<!-- Set the breadcrumbs -->
<!-- If ref was dashboard:-->
{{if request.vars.has_key('ref') and (request.vars['ref'] == 'dashboard'):}}
    {{breadcrumbs=[[URL('default','index'),'Home'],[URL('default','dashboard'),'Dashboard'],['','View Project']]}}
<!-- Elif ref was search, can go back page to search page -->
{{elif request.vars.has_key('ref') and (request.vars['ref'] == 'search'):}}
    {{breadcrumbs=[[URL('default','index'),'Home'],[request.env.http_referer,'Search'],['','View Project']]}}
<!-- Elif ref was Browse, can go back page to browse page -->
{{elif request.vars.has_key('ref') and (request.vars['ref'] == 'browse'):}}
    {{breadcrumbs=[[URL('default','index'),'Home'],[URL('default','browse'),'Browse Projects'],['','View Project']]}}
<!-- Else show normal breadcrumb without dashboard: -->
{{else:}}
    {{breadcrumbs=[[URL('default','index'),'Home'],['','View Project']]}}
{{pass}}
<!-- Show in the project template -->
{{extend 'tx-layout.html'}}

{{if message:}}
    <div id="tx-alert" class="alert alert-success">{{=message}}</div>
{{pass}}

<!-- First display the project title and owner -->
<h1 id="project-title">{{=project.title}}<span id="owner"> by {{=owner.first_name+' '+owner.last_name}}</span></h1>

<!-- Show the project description -->
<div id="project-description">{{=project.requestDescription}}</div>
    <!-- If the project has images, for each image: -->
    {{if images:}}
        {{for image in images:}}
            <!-- Create a row for each image and it's associated text -->
            <div class="row">
                <!--
                    Center images and text in the page (can't use the full width, or the
                    image is too big) by creating a constant space down the left side. 
                -->
                <div class="col-md-1"></div>
                
                <!--
                    Unless on a mobile screen, show the image to take 5/12th of the screen
                    - enough to see it by, but not so much that it dominates the screen
                    space.
                -->
                <div class="col-md-5">
                    <a href="{{=URL('project','transcribe', args=image.id, vars=dict(pid=project.id))}}">
                        <img class="view-img-fill-div" alt="{{=image.imageDescription}}" src="{{=URL('default','download',args=image.image)}}" />
                    </a>
                </div>
                
                <!--
                    Unless on a mobile screen, show the accompanying text and button next
                    to the image in a div of the same sive.
                -->
                <div class="col-md-5">
                    {{if auth.user and (image.transcribedBy().find(lambda row: row.transcriber_id == auth.user.id)):}}
                        <div class="already"><i class="flaticon-checked21"></i>  You have transcribed this image.</div>
                    {{pass}}
                    <div class="image-description">
                        <h2>Image description: </h2>
                        <p>{{=image.imageDescription}}</p>
                    </div>

                    <!--
                        If fields exist to transcribe data into exist in this project,
                        list the names of the fields of data we want.
                    -->
                    {{if fields:}}
                        <div class="list-fields">
                            <h2>Fields for Transcription:</h2>
                            <!--
                                For each field, show list the friendly name of the data we
                                are trying to capture.
                            -->
                            <ul>
                                {{for field in fields:}}
                                    <li>{{=field.label}}</li>
                                {{pass}}
                            </ul>
                        </div>
                    {{pass}}
                    <!-- If the image has got >=3 pending transcriptions or an accepted
                        transcription (determined from done()) then don't show a button,
                        simply show an explanatory message.
                    -->
                    {{if image.done() or project.canOpen():}}
                        <div id="image-closed">Image Closed for Transcriptions</div>
                    <!-- Else, show a button to go transcribe the image -->
                    {{else:}}
                        <a class="btn btn-primary transcribe-button" href="{{=URL('project','transcribe', args=image.id, vars=dict(pid=project.id))}}">Transcribe this image</a>
                    {{pass}}
                </div>
                <!--
                    Center images and text in the page (can't use the full width, or the
                    image is too big) by creating a constant space down the left side. 
                -->
                <div class="col-md-1"></div>
            </div>
        {{pass}}
    {{pass}}