{{if not ("active" in locals()): active=""}}
<!DOCTYPE html>

<!-- Set the site language -->
<html lang="en-GB">
<!--
    This is the main site layout file, which sets up the title bar and the footer that is
    shown on every page, above and below (respectively) the main page content.
-->
<head>
	<meta charset="utf-8" />
  
	<!-- http://dev.w3.org/html5/markup/meta.name.html -->
	<meta name="application-name" content="{{=request.application}}" />

	<!--  Mobile Viewport Fix
	j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
	device-width: Occupy full width of the screen in its current orientation
	initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	user-scalable = yes allows the user to zoom in -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<!-- All JavaScript at the bottom, except for Modernizr which enables
	HTML5 elements & feature detects -->
	<script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

	<!-- include stylesheets -->
	{{
	response.files.insert(0,URL('static','bootstrap3/css/bootstrap.min.css'))
	response.files.insert(1,URL('static','css/tx.css'))
    response.files.insert(2,URL('static','css/flaticon.css'))
	}}

	{{include 'web2py_ajax.html'}}
	
	<!-- Import the fonts and JQuery that we use -->
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>

    <!-- Set the site Title -->
	<title>{{=response.title or request.application}}</title>
	</head>

	<body>
    <!-- Skip to main content link -->
    <a class="skip-main" href="#main">Skip to main content</a>
    {{include "tx-header.html"}}
<!-- Setup the fixed navbar -->
    <nav class="navbar navbar-default navbar-bg" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand-colour navbar-brand brand" href="{{=URL('default','index')}}">TransXribe<span class="glyphicon glyphicon-pencil"></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <!-- Now setup the right hand side of the nav bar -->
          <ul class="nav navbar-nav">
            <!-- If nobody is signed in, show the register and login buttons -->
          	{{if (auth.user == None):}}
            	<li {{if active=="new":}}class="current"{{pass}}><a href="{{=URL('project','create')}}">Create New Project</a><span></span></li>
                <li {{if active=="browse":}}class="current"{{pass}}><a href="{{=URL('default','browse')}}">Browse</a><span></span></li>
            <!--
                Else, user is logged in, so offer them to create a project, view the
                dashboard or logout entirely.
            -->
            {{else:}}
            	<li {{if active=="new":}}class="current"{{pass}}><a href="{{=URL('project','create')}}">Create New Project</a><span></span></li>
                <li {{if active=="browse":}}class="current"{{pass}}><a href="{{=URL('default','browse')}}">Browse</a><span></span></li>
				<li {{if active=="dashboard":}}class="current"{{pass}}><a href="{{=URL('default','dashboard')}}">Dashboard</a><span></span></li>
            {{pass}}
          </ul>

            <ul class="nav navbar-nav navbar-right">
            <li>

                <form id="search-form" method="GET" action="{{=URL('default', 'search')}}" class="navbar-form" role="search">

                    <label class="sr-only" for="search_text">Search</label>
                    <div class="input-group">
                        <input type="text" id="search_text" name="q" value="{{=request.vars.q or ""}}" class="form-control" placeholder="Search project title or description">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search</button>
                        </span>
                    </div>
                </form>

            </li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
      
    </nav>

    <!-- Now show the main page contents -->
	<div class="container whitebg" role="main" id="main">
        <!-- Show breadcrumbs -->
        {{if ("breadcrumbs" in locals()):}}
            <ol class="breadcrumb">
                {{for breadcrumb in breadcrumbs:}}
                    {{if breadcrumb != breadcrumbs[-1]:}}
                        <li><a href="{{=breadcrumb[0]}}">{{=breadcrumb[1]}}</a></li>
                    {{else:}}
                        <li class="{{=breadcrumb[0]}}">{{=breadcrumb[1]}}</li>
                    {{pass}}
                {{pass}}
            </ol>
        {{pass}}
		{{include}}
		{{pass}}
	</div>
		
		<!-- Show the page footer -->
		<div class="container">
			<hr>
			<footer>
				<p>© 2015 TX</p>
			</footer>
		</div>

        <!--
            Execute global javascript that may be needed on any page, such as JQuery and
            Bootstrap
        -->
		<script>
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			})
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="{{=URL('static','bootstrap3/js/bootstrap.min.js')}}"></script>
	</body>
</html>
