<!-- Page handles new user registrations -->

<!-- Show in the project template -->
{{active="register"}}
<!-- Set the breadcrumbs -->
{{breadcrumbs=[[URL('default','index'),'Home'],['/user/register','Register']]}}
{{extend 'tx-layout.html'}}

<h2>Register</h2>

<div class="row">
    <!-- Show the form with width of 2/3 of the page, or full width on mobile devices -->
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h3>New Users</h3>
        <!-- Show the signup form -->
        {{=form}}
    </div>
    <!--
        Show sidebar with documentation with 1/3 width of the page, or full width on
        mobile devices
    -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h3>Returning Users</h3>
        <p>Already have an account?</p>

        <!-- Show a login button -->
        <a href="{{=URL('user','login')}}">Log In</a>

        <!-- Show a link for users who have forgotten their passwords -->
        <p>Forgotten password?</p>
        <a href="{{=URL('user','reset')}}">Reset password</a>
    </div>
</div>