<!-- Set the breadcrumbs -->
<!-- If ref was register: -->
{{if request.vars.has_key('ref') and (request.vars['ref'] == 'register'):}}
    {{breadcrumbs=[[URL('default','index'),'Home'],[URL('user','register'),'Register'],['','Reset Password']]}}
<!-- Else, ref must have been login page: -->
{{else:}}
    {{breadcrumbs=[[URL('default','index'),'Home'],[URL('user','login'),'Login'],['','Reset Password']]}}
{{pass}}
{{extend 'tx-layout.html'}}

<h2>Reset Password</h2>


<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        {{=form}}
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

    </div>


</div>
