<!--
	This is a Subview used to list open projects on the website. Examples of use include
	the home page and the search page. It saves repeating the below code.
-->

<!-- If no reference set, set it to blank -->
{{if not ("ref" in locals()): ref=""}}

<!-- Create a divider which contains the list of projects -->
<ul class="projects">
{{for project in projects:}}
        <li class="cell">
           <div class="project-tile">
               <!-- Upper row to contain the thumbnail -->
               <div class="row1">
               		<a href="{{=URL('project','view', args=project.id, vars=dict(ref=ref))}}">
	                    <img src="{{=URL('default','download',args=project.image)}}" alt="Icon image for project: {{=project.title}}" />
	                </a>
               </div>
           </div>

            <!-- Second row to display the project title -->
            <div class="row2">
                <div class="title">
                    <a href="{{=URL('project','view', args=project.id, vars=dict(ref=ref))}}">{{=project.title}}</a>
                </div>
            </div>
        </li>
    {{pass}}
</ul>
