<!--
	This is a Subview used to list open projects on the website. Examples of use include
	the home page and the search page. It saves repeating the below code.
-->

<!-- Create a divider which contains the list of projects -->
<ul class="projects">
{{for project in projects:}}
        <li class="cell">
           <div class="project-tile">
               <div class="row1">
                    <img src="{{=URL('default','download',args=project.image)}}" />
               </div>
           </div>
            <div class="row2">
                <div class="title">
                    <a href="{{=URL('project','view', args=project.id)}}">{{=project.title}}</a>
                </div>
            </div>
        </li>
    {{pass}}
</ul>
