body {
    padding-bottom: 20px;
    background-color: #f8f8f8;
    color: #444444;
    font-family: 'Droid Sans Bold', sans-serif;
}


html, body
{
    height: 100%;
}

.step {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    background-color: #fafafa;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.active_step {
    background-color: #5382BE;
    color: #fafafa;
}

.project-section {
    padding-bottom: 40px;
}


#search_text {
    font-size:12px;
    padding-bottom:0;
    margin-bottom:0;
    padding-top:0px;
    margin-top:0px;
    font-weight: Normal;
    width: 218px;
}
#search-form  {
    margin-top:6px;
}
#search-form .input-group-btn {
    padding-top:7px;
}

#search-form .input-group-btn button {
    height:34px !important;
    position: relative;
}

.container[role=main]  {
    min-height: 100%;
    padding-top:10px;
    padding-bottom:10px;
}


.whitebg {
    background-color: #ffffff;
}

.current span {
    background-color: #428bca;
    width:100%;
    height:4px;
    display: block;
}
.brand-colour{
	color: #428bca !important;
}

ul {
    list-style-position: inside;
}

th {
	text-align: center;
}

td {
	vertical-align:middle;
	text-align:center;
}

.table-image-view {
	width:128px;
}



#transcribe-image img {
    width: 550px;
    height: auto;
    float: left;
}


.table-button-column {
	width:150px;
}

.row {
    margin-bottom: 20px;
}

.center {
	text-align: center;
}

.flaticon-checked21 {
    color: green;
}
.flaticon-checked21::before {
    font-size: 30px !important;
    margin-right: 3px;
}

.already {
    font-size: 1.3em;
    line-height: 1.3em;
}

.list-fields,
.image-description,
.transcribe-button {
    font-size: 1.3em;
    margin-top: 30px;
}
.just-added-project {
	background-color: #DEF6D5 !important;
}

.view-img {
    height:180px;
    overflow:hidden;
    position: relative;

    border:1px solid #ddd;
    margin-bottom:50px;
    background-color: #eee;
}

.view-img-fill-div {
    width:100%;
    overflow:hidden;
    position: relative;

    border:1px solid #ddd;
    margin-bottom:50px;
    background-color: #eee;
}

.view-img  img {
    position: absolute;
  left: 50%;
  top: 50%;
 min-height:180px;
  width: 100%;
    border-bottom:1px solid #ccc;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

/* Override bootstrap default of top */
.table > tbody > tr > td {
    vertical-align: middle;
}

.navbar-brand {
    font-size:200%;
    color:#EEE !important;
    font-family: 'Shadows Into Light', cursive;
}

.navbar-bg {
    background-color: #000000;
    color:#FFFFFF !important;
    font-weight: bolder;
    margin-bottom: 0;
}

.navbar-nav > li > a {
    padding-top: 20px;
    color:#EEEEEE !important;
    line-height: 12px;
}

.navbar-nav > li > a:hover {
    color:#FFFFFF !important;
    text-decoration: underline !important;
}


a.navbar-brand:hover {
    color:#FFFFFF !important;

}
/*
    Search Form
*/
#search-form input{
    color: #1E2226;
}

#search-form .btn {
    margin-top: -4px;
    padding: 4px 12px;
}

#search-form  input[type=text] {
    margin-top: 3px;
}


/* For accessibility reasons hide the extra information in the link but
allow screen readers to pick it up
*/
a span {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}

/* Transcriptions Page */
.options {
    float: right;
}

.tx-row {
    margin-bottom: 60px;
}

#transcription-image {
    padding: 1px 30px 30px 30px;
    background-color: #f3f3f3;
}

#transcription-image img {
    width: auto;
    max-height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#transcription-image h3 {
    text-align: center;
}

.error {
    color:#DD3333;
}

/*
    Index
*/
ul.projects {
    margin-left: 0;
    float: left;
    clear: left;
    padding-left: 0;
    padding-right: 0;
}

li.cell {
    float: left;
    width: 226px;
    list-style: none;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    white-space: normal;
}

.row2 {
    width: 198px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.title {
    font-size: 125%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.project-tile img {
    width: 218px;
    height: auto;
}

#view-more-projects {
    width: 100%;
    text-align: center;
    font-size: 16px;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#view-more-projects:hover {
    background-color: #EEE;
}

/* Close/Open project pages buttons */
form .btn-primary {
    margin-right: 3px;
}

/* Instructions */
.instructions {
    background-color: #EEEEEE;
    border-radius: 20px;
    text-align: justify;
    padding: 1px 15px;
    margin-top: 10px;

}

#owner {
    font-size: 60%;
}

#project-description {
    font-size:1.40em;
    margin-bottom: 1cm;
}

#project-title {
    margin-bottom: 0.5cm;
}

#tx-alert {
    margin-top: 15px;
}

#transcribe-description {
    margin-top: 1cm;
    margin-bottom: 1cm;
}

/* Header bar */
header {
    height: 25px;
    margin-top: 0;
    background: none repeat scroll 0 0 #F4F4F4;
    width: 100%;
    z-index: 999;
}

header a {
    color: black;
    text-decoration: underline;
    margin-left: 10px;
}

#login-container {
    float:right;
}

.login-link > a {
    float: right;
    margin-right: 3px;
    margin-left: 20px;
}

.navbar-text {
    margin: 0;
}

.navbar-fixed-top {
    top: 25px;
}

/* Skip to main content */
a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #000;
    background-color: #FFF;
    left: auto;
    top: -10px;
    width: 30%;
    height: 50px;
    overflow: hidden;
    margin: 0 35%;
    border-radius: 15px;
    border: 3px solid #CCC;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
    vertical-align: middle;
    line-height: 50px;
}