body {
  padding-bottom: 20px;
  padding-top: 50px;
}

.brand-colour{
	color: #428bca !important;
}

ul {
    list-style-position: inside;
}

th {
	text-align: center;
}

td {
	vertical-align:middle;
	text-align:center;
}

.table-image-view {
	width:128px;
}

.table-image-column {
	width:150px;
}


#transcribe-image img {
    width: 550px;
    height: auto;
    float: left;
}

#view-image {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}

.table-button-column {
	width:150px;
}

.center {
	text-align: center;
}

#transcribe-button {
    float: right;
}

.just-added-project {
	background-color: #DEF6D5; !important
}

.projects .view-image {
    width:100%;
    height:100%;
    overflow: hidden;
    margin: 10px;
    position: relative;
}

.projects .view-image img {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

nav .navbar {
    height:70px !important;
}

.navbar-brand {
    font-family: Montserrat;
}